section.b-team 
    .b-team__body.container
        .b-team__title
            +section-title('Creative', 'Team', 'Members')
        .b-team__items
            .b-team__item
                .b-team__image
                    img(src="./img/team/team_1.png", alt="")
                .b-team__text
                    .b-team__title Designer Name
                    .b-team__position Graphic Designer
                    .b-team__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            .b-team__item
                .b-team__image
                    img(src="./img/team/team_2.png", alt="")
                .b-team__text
                    .b-team__title Designer Name
                    .b-team__position Graphic Designer
                    .b-team__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            .b-team__item
                .b-team__image
                    img(src="./img/team/team_3.png", alt="")
                .b-team__text
                    .b-team__title Designer Name
                    .b-team__position Graphic Designer
                    .b-team__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna