$white: #fff;
$black: #000;
$orange-base: #d25b38;
$light-black: #454443;
$gray: #636363;
$gray2: #666564;
$light-gray: #f4f2f2;
$bg-color: #f2f2f2;

$container: 1200px;
$about-for-bg: 35%;

$about-for-bg-sm: 50%;

$screen-sm: 577px;
$screen-md: 769px;
$screen-lg: 993px;
$screen-xl: 1201px;

$screem-sm-max: 768px;
$screem-md-max: 992px;
$screem-lg-max: 1200px;

