.date-label {
    background-color: $orange-base;
    padding: 5px 7px;
    display: inline-flex;
    flex-direction: column;
    color: $white;
    font-family: 'BebasNeue-Regular';


    &__number {
        font-size: rem(50);
        line-height: rem(40);
        text-transform: uppercase;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        font-family: 'Open Sans';
        font-size: rem(12.5);
        text-transform: uppercase;
    }

}