header.b-header.b-header__inner
    .b-header__wrapper.container
        .b-header__top
            .b-header__logo-block
                .b-header__logo.b-header__logo_ident
                .b-header__logo-text
                    h1.b-header__logo-title ARROW DESIGN
                    span.b-header__logo-subtitle CREATIVE TAGLINE HERE
            ul.b-header__menu
                li.b-header__menu-item 
                    a.b-header__menu-link(href='#') HOME
                li.b-header__menu-item 
                    a.b-header__menu-link(href='#') ABOUT US
                li.b-header__menu-item 
                    a.b-header__menu-link(href='#') SERVICES
                li.b-header__menu-item 
                    a.b-header__menu-link(href='#') PORTFOLIO
                li.b-header__menu-item 
                    a.b-header__menu-link(href='#') OUR TEAM
                li.b-header__menu-item
                    a.b-header__menu-link(href='#') NEWS
                li.b-header__menu-item
                    a.b-header__menu-link(href='#') CONTACT
        .b-header__content
            .b-header__title Welcome to The #[span.b-header__fragment Award<br />Winning] Agency
            .b-header__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sapiente voluptatem inventore ratione rem voluptas nihil? Sit impedit alias possimus veniam in vitae voluptate vel, fugiat exercitationem! Eum, qui tempora!
            .b-header__btn-block
                button READ MORE
                button READ MORE
