section.b-package
    .b-package__body.container
        .b-package__title-section
            +section-title("Our", "Desigins", "Package")
        .b-package__items
            .b-package__item
                .b-package__body-item
                    .b-package__item-top
                        .b-package__icon
                            svg
                                use(xlink:href='./img/svg/package/invention.svg#invention')
                        .b-package__title Designer Name
                        .b-package__position Graphic Designer
                    .b-package__item-bottom
                        .b-package__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        .b-package__price $ 50
                        .b-package__btn
                            button READ MORE
            .b-package__item
                .b-package__body-item
                    .b-package__item-top
                        .b-package__icon
                            svg
                                use(xlink:href='./img/svg/package/shopping.svg#shopping')
                        .b-package__title Designer Name
                        .b-package__position Graphic Designer
                    .b-package__item-bottom
                        .b-package__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        .b-package__price.b-package__price_orange $ 500
                        .b-package__btn
                            button READ MORE
            .b-package__item
                .b-package__body-item
                    .b-package__item-top
                        .b-package__icon
                            svg
                                use(xlink:href='./img/svg/package/landscape.svg#landscape')
                        .b-package__title Designer Name
                        .b-package__position Graphic Designer
                    .b-package__item-bottom
                        .b-package__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        .b-package__price $ 1000
                        .b-package__btn
                            button READ MORE