mixin about-item
    .about-item
        .about-item__wrapper 
            .about-item__left
                .about-item__position
                    .about-item__title WARKING HOURS
                    .about-item__position-name DESIGNER NAME
            .about-item__right 
                .about-item__right-wrapper.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea eos provident ex amet iure cumque voluptate ab eaque error rerum expedita hic incidunt ducimus, eligendi, voluptatem eum labore unde!