include ../../blocks/components/section-title/section-title.pug
include ../../blocks/components/about-item/about-item.pug
include ../../blocks/components/special-item/special-item.pug
include ../../blocks/components/date-label/date-label.pug