section.b-blog 
    .b-blog__body.container
        .b-blog__title-block
            +section-title('LATEST', 'DESIGN', 'BLOG')
        .b-blog__items
            .b-blog__item-img
                img(src="./img/blog/blog_1.jpg", alt="")
                .b-blog__label
                    +date-label
                .b-blog__desc-block
                    .b-blog__title Designed and built with care
                    .b-blog__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .b-blog__item-img
                img(src="./img/blog/blog_2.png", alt="")
                .b-blog__label
                    +date-label
                .b-blog__desc-block
                    .b-blog__title Designed and built with care
                    .b-blog__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .b-blog__item-img
                img(src="./img/blog/blog_3.jpg", alt="")
                .b-blog__label
                    +date-label
                .b-blog__desc-block
                    .b-blog__title Designed and built with care
                    .b-blog__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .b-blog__big-banner
            <img src="./img/blog/blog_4.jpg"/>
            .b-blog__label
                +date-label
            .b-blog__desc-block
                .b-blog__title.b-blog__title_white Designed and built with care 
                .b-blog__desc.b-blog__desc_white Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.