section.b-about
    .b-about__wrapper.container
        .b-about__text
            .b-about__title
                +section-title
            .b-about__desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. At, iure. Odio, architecto dicta excepturi id rerum assumenda molestiae aperiam ea eligendi officia iste commodi quasi iure maxime, earum dolor nam?
        .b-about__items
            .b-about__items-column
            .b-about__items-wrapper
                +about-item
                +about-item
                +about-item
                +about-item