mixin special-item(svg="./img/svg/special-item/globe.svg#globe", title='ACHIEVES', desc='Lorem, ipsum dolor sit amet consectetur. Harum fugit quisquam vero?')
    .special-item
        .special-item__icon
            svg
                use(xlink:href=svg)
        .special-item__title=title
        .special-item__desc=desc
