extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/about/about.pug
	include ../blocks/modules/special/special.pug
	include ../blocks/modules/blog/blog.pug
	include ../blocks/modules/team/team.pug
	include ../blocks/modules/gallery/gallery.pug
	include ../blocks/modules/package/package.pug
	include ../blocks/modules/contact/contact.pug
	include ../blocks/modules/footer/footer.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
