//- Импортируем в миксины .pug
mixin section-title(wordHead="ABOUT", selected="CREATIVE", wordFoot="AGENCY")
    .section-title
        .section-title__text
            div=wordHead
            div.section-title__sected=selected
            div=wordFoot