section.b-special
    .b-special__body.container
        .b-special__title-block
            +section-title('OUR', 'SPECIAL', 'SERVICES')
        .b-special__items.b-special__items_grid
            +special-item
            +special-item("./img/svg/special-item/notes.svg#notes", "DESIGNER")
            +special-item("./img/svg/special-item/umbrella.svg#umbrella", "PREFECT DESIGNER")
            +special-item("./img/svg/special-item/cursor.svg#cursor")
            +special-item("./img/svg/special-item/package.svg#package")
            +special-item("./img/svg/special-item/lightning.svg#lightning")
