section.b-contact
    .b-contact__body.container_not-right
        .b-contact__content
            .b-contact__title
                +section-title("HOW", "FIND US", "")
            .b-contact__items
                .b-contact__item
                    .b-contact__item-icon
                        svg
                            use(xlink:href="./img/svg/contact/geo.svg#geo")
                    .b-contact__item-desc
                        .b-contact__item-title Address
                        .b-contact__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                .b-contact__item
                    .b-contact__item-icon
                        svg
                            use(xlink:href="./img/svg/contact/phone-call.svg#phone")
                    .b-contact__item-desc
                        .b-contact__item-title Call us
                        .b-contact__item-text +123 4567 8900 
                            <br /> +123 4567 8900
                .b-contact__item
                    .b-contact__item-icon
                        svg
                            use(xlink:href="./img/svg/contact/email.svg#email")
                    .b-contact__item-desc
                        .b-contact__item-title Email
                        .b-contact__item-text free@psdfreebies.com
                .b-contact__item
                    .b-contact__item-icon
                        svg
                            use(xlink:href="./img/svg/contact/lcd.svg#lcd")
                    .b-contact__item-desc
                        .b-contact__item-title Website
                        .b-contact__item-text www.psdfreebies.com
        .b-contact__image-block
            img(src="./img/contact/contact_1.jpg", alt="")
